:root{
    --beforeFooter: 100%;
    --left-right-wd: 15%;
}

/*  CSS Dành cho phần thân  */
.carousel{
    width: 100%;
    margin: 0 auto;
}
.carousel-inner{
    height: 600px;
}
.carousel-item > img{
    height: 600px;
}
.carousel-item .carousel-caption{
    text-shadow:  #000000 1px 2px 4px, #000000 0px 0px 4px ,#000000 0px 0px 6px;
}
/* change transition duration to control the speed of fade effect */
.carousel-item {
    transition: transform 2.6s ease-in-out;
  }
  

.footer{
    width: 100vw;
    height: 30px;
    background-color: aquamarine;
}
