
.breadcrumb{
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    padding: 32px 0;
    margin-bottom: 0;
    list-style: none;
    background-color: rgba(0,0,0,0);
}
.breadcrumb ol{
    display: block;
    list-style-type: decimal;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.breadcrumb a{
    color: #212529;
    text-decoration: none;

}

h1.hero-heading{
    font-weight: 700;
    line-height: 1.1;
    font-size: 64px;
    margin: 0px 0px 34px;
    display: block;
   
}

/**/
.cart-item-img{
    max-width: 70px;
}
.cart-item{
    margin: 0 auto;
    text-align: center;
    font-size:12px;
}
/*----------*/
/* Border order*/
#order-header{
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    background: rgb(239, 239, 239);
    border-radius: 10px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.cart-title{
    padding-left: 20px;
}

table{
    font-size:13px;
}
