/* Header */
.header {
    height: 50px;
    background-color: rgb(255, 129, 129);
}

.header .logo {
    width: 10%;
    float: left;
    background-color: aqua;
}

.header .nav {
    width: 65%;
    float: left;
    background-color: rgb(121, 121, 165);
}
/* Menu lv 1 */
.header .nav ul{
    display: flex;
    justify-content: space-around;
}
.header .nav ul li{
    padding: 5px;
    list-style: none;
}
.header .nav ul li a{
    text-decoration: none;
}
/* Menu lv 2 */
.header .nav ul ul{
    display: flex;
    flex-direction: column;
}


.header .icons {
    width: 25%;
    float: right;
    background-color: yellow;
}