:root{
    --beforeFooter: 100%;
    --left-right-wd: 15%;
}

/*  CSS Dành cho phần thân  */
.carousel{
    width: 80%;
    margin: 0 auto;
}
.carousel-inner{
    height: 600px;
}
.carousel-item > img{
    height: 600px;
}
/* change transition duration to control the speed of fade effect */
.carousel-item {
    transition: transform 2.6s ease-in-out;
  }
  
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 0s 2.6s;
  }
.footer{
    width: 100vw;
    height: 30px;
    background-color: aquamarine;
}