.header-absolute {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}
.navbar-light .navbar-nav .nav-link, .navbar-hover-light:hover .navbar-nav .nav-link, .navbar-fixed-light.fixed-top .navbar-nav .nav-link {
    color: rgba(0,0,0,0.65);
}

.nav-item a img{
    width: 25px;
    height: 25px;
    margin: 0 15px;
}

.navbar-icon-link-badge{
    position: absolute;
    top: 5px;
    right: 14px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: #343a40;
    font-size: 0.6rem;
    line-height: 20px;
}

.megamenu-list-item > a{
    text-decoration: none;
    color: #343a40;
    opacity: 0.8;
}
.megamenu-list-item > a:hover{
    color: #343a40;
    opacity: 1;
}
.nav-item hr{
    width: 200px;
}

.r-0{
    right: 0;
}

